.input-unit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input-unit__label {
  margin-top: 6px;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
}

.input-unit__label:not(:first-child) {
  margin-top: 10px;
}

.input-unit__input-block {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 381px;
  height: 46px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: unset;
  background-color: #2F2F2F;
  border-radius: 8px;
}

.input-unit__input {
  width: 100%;
  max-width: 260px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
  height: 40px;
  background-color: #2F2F2F;
  border: unset;
  outline: unset;
}

.input-unit__label_error {
  margin-top: 10px;
  opacity: 0;
}

.input-unit__label_error_validation {
  opacity: 1;
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
}