.button-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-unit_page_signin {
  margin-top: 69px;
}

.button-unit_page_signup {
  margin-top: 179px;
}

.button-unit__error {
  color: #ff004c;
  font-size: 11px;
  line-height: 1.21;
  margin-top: 20px;
}

.button-unit__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 0;
  background-color: #4285f4;
  border: unset;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.button-unit__button:hover {
  opacity: 0.6;
}

.button-unit__button:disabled {
  background-color: #2F2F2F;
  color: #c2c2c2;
  cursor: default;
}

.button-unit__button:disabled:hover {
  opacity: 1;
}

.button-unit__text {
  margin: 16px 0 0;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center
}

.button-unit__link {
  margin-left: 6px;
  color: #4285f4;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: unset;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer
}

.button-unit__link:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 767px) {
  .button-unit_page_signin {
    margin-top: 157px;
  }

  .button-unit_page_signup {
    margin-top: 267px;
  }

  .button-unit__button {
    font-size: 12px;
  }

  .button-unit__text {
    font-size: 12px;
  }

  .button-unit__link {
    font-size: 12px;
    margin-left: 7px;
  }
}